---
layout: "base.njk"
---

<section>
    <h2>Dream</h2>
    <strong>{{ dream }}</strong>
</section>

<section>
    <h2>Experience {% if experienceStart %} <small><em>({{experienceStart}} years)</em></small> {% endif %} </h2>

    <p><em>Based on tags in gigs.</em></p>

    <section>
        {%for tag, totalYears in experience | dictsort(false, 'value') |reverse -%}
        <h3>{{tag}} {% if favorites.includes(tag) %} 🧡 {% endif %}</h3>
        <p>{% if totalYears === 0 %} <1 year {% else %} {{totalYears}} years {%endif%}</p>
        {% endfor -%}
    </section>
</section>

<section>
    <h2>Gigs</h2>
    <ol>
        {% for g in gigs -%}
        <li class="gig">
            <h3>{{g.title}}</h3>
            <p>{{g.start}} <em>({{g.duration}}{% if g.duration !== "ONGOING" %} months{% endif %})</em></p>
            
            <p>{{g.description}}</p>

            <h4>Tags</h4>
            <ul>
            {% for tag in g.tags -%}
            <li><p>{{tag}} {% if favorites.includes(tag) %} 🧡 {% endif %} </p></li>
            {% endfor -%}
            </ul>

            <h4>Highlights</h4>
            <ul>
            {% for h in g.highlights -%}
            <li><p>{{h}}</p></li>
            {% endfor -%}
            </ul>
        
        </li>
        {% endfor -%}
    </ol>
</section>

<section>
    <h2>Teams</h2>
    <ul>
        {% for t in collections.team -%}
        {% if teamIds.includes(t.data.id) %} <li><p><a href="{{ t.url }}" >{{ t.data.name }}</a></p></li> {% endif %}
        {% endfor -%}
    </ul>
</section>

<section>
    <div class="profile-footer">
        <iframe src="{{presentation}}" width="640" height="480" allow="autoplay" frameborder="0"></iframe>
        <div class="profile-contact">
            <p>{{name}}</p>
            <p>{{phone}}</p>
            <p>{{email}}</p>
        </div>
    </div>
</section>
