---
layout: base.njk
pagination:
    data: profiles
    size: 1
    alias: profile
permalink: "profiles/{{ profile.name | slug }}/"
title: "profile {{ profile.name }}"
---

<div>
    {{ profile.name}} has a dream: "{{profile.dream}}" 
</div>