<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monadium.org</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧡</text></svg>"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="content">
      <h1>🧡 Monadium.org</h1>
      <em>The modern alternative for managing your programming career. </em>

      <h2>Concept</h2>

      <h3>Vision</h3>

      <div>Create more dream jobs for programmers</div>

      <h3>Mission</h3>

      <div>
        Enlist high-quality candidates and companies that lead to long-term,
        healthy employments.
      </div>

      <h3>Values</h3>

      <ul>
        <li>Lovable</li>
        <li>Welcoming</li>
        <li>Wonderful</li>
        <li>Deliberate</li>
      </ul>

      <h2>Join us!</h2>

      <div>
        Discord chat:
        <a href="https://discord.gg/59hgZycxYJ"
          >https://discord.gg/59hgZycxYJ</a
        >
      </div>

      <div>
        GitHub:
        <a href="https://github.com/marcusradell/monadium"
          >https://github.com/marcusradell/monadium</a
        >
      </div>

      <h2>Author</h2>

      <div class="author">
        <img class="profile" src="img/profile.jpg" alt="Author profile." />

        <div>Marcus Rådell</div>
        <div>
          Twitter: <a href="https://twitter.com/marcusradell">@marcusradell</a>
        </div>
      </div>
    </div>
  </body>
</html>
