<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monadium.org</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🧡</text></svg>"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="content">
      <h1>🧡 Monadium.org</h1>
      <em>The modern alternative for managing your programming career. </em>

      <h2>Statement</h2>

      <h3>Vision</h3>

      <div>Create more dream jobs for programmers.</div>

      <h3>Mission</h3>

      <div>
        Enlist high-quality candidates and companies that lead to long-term,
        healthy employments.
      </div>

      <h3>Values</h3>

      <ul>
        <li>
          <span class="value">Love</span>
          <em
            >- Monadium shows love to our partners to get love back. Through
            love comes empathy, happiness, and respect.</em
          >
        </li>
        <li>
          <span class="value">Welcoming</span>
          <em
            >- Monadium welcomes all forms of participation in our movement. We
            will share through open sourced code and documents. We will help
            people take part and pay it forward.</em
          >
        </li>
        <li>
          <span class="value">Wonderful</span>
          <em
            >- Monadium delights our partners with high quality and playfulness.
            Interactions require little effort and will not scream for attention
            when you need to do more important things.</em
          >
        </li>
        <li>
          <span class="value">Deliberate</span>
          <em
            >- We don't ask for or give more than we need from our partners. We
            only seek contact to create value for our partners. Our partners
            must know why we act as we do through clear communication and by
            being restrictive with how we seek people's attention.</em
          >
        </li>
      </ul>

      <h2>Join us!</h2>

      <div>
        Discord:
        <a href="https://discord.gg/59hgZycxYJ"
          >https://discord.gg/59hgZycxYJ</a
        >
      </div>

      <div>
        GitHub:
        <a href="https://github.com/marcusradell/monadium"
          >https://github.com/marcusradell/monadium</a
        >
      </div>

      <h2>Author</h2>

      <div class="author">
        <img class="profile" src="img/profile.jpg" alt="Author profile." />

        <div>Marcus Rådell</div>
        <div>
          Twitter: <a href="https://twitter.com/marcusradell">@marcusradell</a>
        </div>
      </div>
    </div>
  </body>
</html>
